// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 890px;
$desktop: 1192px;
$xl_desktop: 1440px;

// Colores
$azul-oscuro:#034078;
$azul: #007df4;
$secundario: #00c8c2;
$celeste: #16b0ab;
$indigo: #6558d3;
$governor: #4133B7;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-ticket: #dedee0;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;
$pink:#FFEDEC;
$coffe:#754D42;
$rio:#917072;
$ash: #eef1f5;
$apricot: #FBC8BE;
$verde-agua: #1FCAC5;


$rojo: rgb(169, 0, 0);
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900